{% extends 'base.html' %}

{% block title %}Contact Us{% endblock %}

{% block content %}

<section class="contact-section">

<div class="container">

<h1>Contact Us</h1>

<p>
Need help? We're here to assist you.
</p>

<div class="contact-card">

<p><strong> Company:</strong> FixNest Home Services</p>

<p><strong> Address:</strong> Ram Nagar, Coimbatore Tamil Nadu, India</p>

<p><strong> Phone:</strong> +91 90470 20807</p>

<p><strong> Email:</strong> info@fixnestitcorp.com</p>

<p><strong> Working Hours:</strong> 24 × 7 Available</p>

</div>

</div>

</section>

{% endblock %}