{% extends "base.html" %}

{% block title %}Customer Dashboard{% endblock %}

{% block content %}

<div class="container mt-5"><br>

    <h2>Customer :  Welcome <i class="fas fa-user-circle"></i> {{ request.user.username }}</h2>

    <hr><br>

    <h2>My Bookings</h2><br>

    <table class="booking-table">

        <thead>

            <tr>
                <th>Provider</th>
                <th>Category</th>
                <th>Date</th>
                <th>Time</th>
                <th>Status</th>
            </tr>

        </thead>

        <tbody>

        {% for booking in bookings %}

        <tr>

            <td>{{ booking.provider.name }}</td>

            <td>{{ booking.provider.category.name }}</td>

            <td>{{ booking.booking_date }}</td>

            <td>{{ booking.booking_time }}</td>

<td>

{% if booking.status == "Pending" %}

    <span class="badge bg-warning">
        Pending
    </span>

{% elif booking.status == "Accepted" %}

    <span class="badge bg-success">
        Accepted
    </span>

{% elif booking.status == "Completed" %}

    <span class="badge bg-primary">
        Completed
    </span>

{% elif booking.status == "Rejected" %}

    <span class="badge bg-danger">
        Rejected
    </span>

{% endif %}

</td>

        </tr>

        {% empty %}

        <tr>

            <td colspan="5" class="text-center">

                No bookings yet.

            </td>

        </tr>

        {% endfor %}

        </tbody>

    </table>

</div><br>

{% endblock %}